{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "ie": "9",
                    "esmodules": true
                },
                "corejs": "3",
                "useBuiltIns": "usage"
            }
        ],
        "@babel/preset-typescript",
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-transform-runtime",
            {
                "absoluteRuntime": false,
                "corejs": false,
                "helpers": true,
                "regenerator": true,
                "useESModules": false
            }
        ]
    ]
}